# This is Git's per-user configuration file.
[user]
	name = Alexis Sanchez
	email = aasanchez@gmail.com
	signingKey = 8148992D557EFBC54AE77190C2622095C2CC3578
[core]
	excludesfile = /Users/aasanchez/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
[includeIf "gitdir:~/Development/Zartis/"]
    path = ~/Development/Zartis/.gitconfig
[includeIf "gitdir:~/Development/Pulzu/"]
    path = ~/Development/Pulzu/.gitconfig