[user]
  name = Alexis Sánchez
  email = aasanchez@gmail.com
  username = aasanchez
[init]
  defaultbranch = master
[core]
  excludesfile = ~/.gitignore-global
  editor = code --wait
[pull]
    rebase = false
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
  gpgsign = true
  signoff = true
[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPdId9IWjlOsklsXJJoJAJVv20FrqLJfSdCGGSNaAdYW

[includeIf "gitdir:~/Development/EVA-Global/**"]
  path = ~/Development/EVA-Global/.gitconfig

[includeIf "gitdir:~/Development/Moovv/**"]
  path = ~/Development/Moovv/.gitconfig
