[user]
  name = Alexis Sánchez
  email = alexis@watechnology.com
  username = aasanchez
[init]
  defaultbranch = master
[core]
  excludesfile = ~/.gitignore-global
  editor = code --wait
[pull]
    rebase = false
